.container {
  /* width: 100%; */
  padding-top: 0;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1024px;
  padding-left: 71px;
  padding-right: 71px;
}

.posterSize {
  width: 270px;
}

.filmCard {
  flex-wrap: wrap;
  display: flex;
  /* grid-template-columns: repeat(3, 288px); */
}

.filmCardList {
  margin-right: 30px;
  margin-top: 30px;
  max-width: 280px;
  border-radius: 5px;
  transform: scale(1);
}

.filmCardContainer {
  padding: 20px 40px;
}

.filmCardLink {
  display: block;
  cursor: pointer;
}

.title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: medium;
}
