html {
  background: no-repeat url('../src/utils/abstract-2325754.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.App {
  text-align: center;
}

h1,
h2 {
  margin-bottom: 30px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  /* color: rgb(250, 149, 17); */
  /* color:rgb(175, 89, 8);*/
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

input {
  font-size: 30px;
  color: rgb(175, 89, 8);
}
